#block-islandora-solr-search-navigation .content > div {
  display: inline-block;
}

#block-islandora-solr-search-navigation .content > div a {
  background-color: #FAFAFA;
  border-radius: 64px;
  border: 1px solid;
  border-color: rgba(0,0,0,.1);
  display: inline-block;
  padding: 3px 16px 3px 16px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#block-islandora-solr-search-navigation .content > div a > i {
  display: none;
}

#block-islandora-solr-search-navigation .content A.disabled {
  color: #b3b3b3;
}

.islandora-pdf-metadata dt,
.islandora-pdf-metadata dd {
  text-align: left;
}

#block-islandora-solr-search-navigation {
  margin-bottom: 24px;
}

#block-views-58fda38e2111cb9c7dbea57150bbc9b3 {
  border-top: solid 2px #D9D9D9;
  color: #000;
  padding: 12px 10px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#block-views-58fda38e2111cb9c7dbea57150bbc9b3 .views-label {
  font-size: 12px;
  line-height: 20px;
  color: #B27F2B;
  font-weight: 700;
  margin-top: 0;
}

#block-views-58fda38e2111cb9c7dbea57150bbc9b3 a::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  font-style: normal;
  margin-left: .3em;
  vertical-align: baseline;
  font-weight: 300;
  margin-right: 8px;
}

@media (min-width: 48em) {
  .dc-sidebar #block-islandora-compound-object-compound-navigation,
  .dc-sidebar #block-islandora-in-collections-block-islandora-in-collections {
    margin: 16px 24px;
    width: calc(100% - 5px);
    margin-right: auto;
    margin-left: auto;
    -moz-box-shadow: rgba(120, 110, 100, 0.3) 0 0 5px 1px;
    -webkit-box-shadow: rgba(120, 110, 100, 0.3) 0 0 5px 1px;
    box-shadow: rgba(120, 110, 100, 0.3) 0 0 5px 1px;
  }
}

.dc-sidebar #block-islandora-compound-object-compound-navigation h3,
.dc-sidebar #block-islandora-in-collections-block-islandora-in-collections h3 {
  margin-bottom: 0;
}

.dc-sidebar #block-islandora-compound-object-compound-navigation .content,
.dc-sidebar #block-islandora-in-collections-block-islandora-in-collections .content {
  background: #fff;
  padding: 12px;
}

#block-islandora-compound-object-compound-navigation .ubl-file-pdf::before {
    content: "\f1c1";
}

#block-islandora-compound-object-compound-navigation .ubl-file-generic::before {
    content: "\f15b";
}

#block-islandora-compound-object-compound-navigation .ubl-file::before {
    font-family: "Font Awesome 5 Pro";
    font-size: 1em;
    font-style: normal;
    margin-right: .3em;
    vertical-align: top;
    color: #f03c69;
    float: left
}

#block-islandora-compound-object-compound-navigation .islandora-compound > LI:last-child {
  border: 0;
}

#block-islandora-compound-object-compound-navigation .islandora-compound > LI > UL {
  padding-left: 1.25rem;
}

#block-islandora-compound-object-compound-navigation .islandora-compound > LI > UL > LI {
  padding: 0 0 0.5rem 0;
  border: 0;
}

#block-islandora-compound-object-compound-navigation .islandora-compound > LI > UL > LI.ubl-file-view {
  width: calc(100% - 35px);
  word-break: break-word;
}

#block-islandora-compound-object-compound-navigation .islandora-compound .ubl-file-embargo .ubl-file-view {
  color: #999;
}

#block-islandora-compound-object-compound-navigation .islandora-compound .ubl-file-remarks {
  font-size: 0.9em;
  line-height: 1em;
  color: #999;
  font-style: normal;
}

#block-islandora-compound-object-compound-navigation .islandora-compound .ubl-file-doi {
  font-size: 0.9em;
}

#block-islandora-compound-object-compound-navigation .islandora-compound .ubl-file-doi .ubl-external-link::after {
  content: "\f14c";
  font-family: "Font Awesome 5 Pro";
  font-size: 0.9em;
  font-style: normal;
  margin-left: .3em;
  vertical-align: baseline;
  font-weight: 300;
}

#block-islandora-compound-object-compound-navigation .ubl-file-download {
  margin: 0;
  color: transparent;
  overflow: hidden;
  font-size: 0;
  float: right;
}

#block-islandora-compound-object-compound-navigation .ubl-file-download A {
  float: right;
  background: #e0e1e1;
  line-height: 18px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
  display: block;
  color: transparent;
  overflow: hidden;
  font-size: 0;
}

#block-islandora-compound-object-compound-navigation .ubl-file-download A::before {
  content: "\f019";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  font-style: normal;
  margin-right: 0;
  vertical-align: top;
  color: #333;
  font-size: 12px;
  font-weight: 900;
}

#block-islandora-compound-object-compound-navigation IMG.ubl-file-license {
  vertical-align: text-bottom;
  margin-left: 3px;
}

.islandora-compound-prev-next {
  margin: 0;
}

.dc-sidebar #block-islandora-in-collections-block-islandora-in-collections p {
  margin-top: 0;
}

.dc-sidebar #block-islandora-in-collections-block-islandora-in-collections ul {
  list-style-type: disc;
  padding: 0 0 1rem 1.5rem;
}

.dc-sidebar #block-islandora-in-collections-block-islandora-in-collections ul li {
  border: 0;
  padding: 0;
}

.islandora-compound-object-content-wrapper {
  float: left;
  margin-right: 9%;
}

.islandora-compound-object-object .islandora-metadata dd,
.islandora-compound-object-object .islandora-metadata dt {
  border-top: none;
}

.islandora-compound-object-object .author {
  margin: 12px 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #999;
  display: flex;
}

.islandora-compound-object-object .author .name,
.islandora-compound-object-object .author .name A {
  color: #B27F2B;
}

.islandora-compound-object-object .author .year {
  padding-left: 0.3rem;
  min-width: 4em;
}
.islandora-compound-object-object .author .year P {
  display: inline-block;
}

h3 {
  margin-top: 24px;
}

.islandora-compound-object-content img {
  display: block;
  -moz-box-shadow: rgba(0,0,0,0.4) 0 0 4px 0;
  -webkit-box-shadow: rgba(0,0,0,0.4) 0 0 4px 0;
  box-shadow: rgba(0,0,0,0.4) 0 0 4px 0;
  margin: 12px 0;
}

.islandora-compound-object-object dd,
.islandora-compound-object-object dt {
  margin-left: 0;
}

.islandora-compound-object-object .genre {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.islandora-compound-object-object .abstract {
  clear: both;
  padding: 24px 0 0 0;
  font-size: 18px;
  line-height: 28px;
}

.islandora-compound-object-object .topics {
  margin: 24px 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topics .tag {
  background: #7F88AB;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 3px;
  font-size: 13px;
  line-height: 18px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}

.topics .tag A {
  color: #fff;
}

.islandora-compound-object-object dl dt {
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 20px;
  color: #B27F2B;
  font-weight: 700;
}

.islandora-compound-object-object dl {
  margin: 0 0;
  padding: 4px 0;
  border-top: dotted 1px #C9C9C9;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.islandora-compound-object-object dl dd {
  padding: 0;
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.islandora-compound-object-object p {
  margin: 0;
  padding: 0;
}

#islandora-solr-search-prev-link a.disabled {
  display: none;
}

.islandora-metadata > .fieldset-wrapper > dl {
  clear: both;
}

.islandora-metadata .title {
  display: flex;
}

@media screen and (max-width: 768px) {
  .islandora-compound-object-content-wrapper {
    float: none;
  }
}
