#block-islandora-solr-search-navigation .content > div {
  display: inline-block;
}

#block-islandora-solr-search-navigation .content > div a {
  background-color: #FAFAFA;
  border-radius: 64px;
  border: 1px solid;
  border-color: rgba(0,0,0,.1);
  display: inline-block;
  padding: 3px 16px 3px 16px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#block-islandora-solr-search-navigation .content > div a > i {
  display: none;
}

.islandora-pdf-metadata dt,
.islandora-pdf-metadata dd {
  text-align: left;
}