@charset "UTF-8";
/* import 3p dependencies 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* import own dependencies 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i";
@font-face {
  font-family: 'Vestula';
  src: url("fonts/vestulapro-regular.woff2") format("woff2"), url("fonts/vestulapro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vestula';
  src: url("fonts/vestulapro-semibold.woff2") format("woff2"), url("fonts/vestulapro-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Vestula';
  src: url("fonts/vestulapro-regularitalic.woff2") format("woff2"), url("fonts/vestulapro-regularitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Vestula';
  src: url("fonts/vestulapro-semibolditalic.woff2") format("woff2"), url("fonts/vestulapro-semibolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=v") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 48em) {
  .front .dc-feature {
    margin-top: -60px;
  }
}
@media all and (min-width: 48em) {
  .dc-centercontent {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.dc-centercontent {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.dc-centercontent:after {
  content: '';
  display: table;
  clear: both;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
	layout styles
*/
#mobcheck {
  display: none;
}

body {
  background-color: #D9D9D9;
  margin: 0;
  padding: 0;
  font-family: georgia,serif;
  font-size: 16px;
  line-height: 24px;
}

#themain {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  background-color: #F5F5F5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #d9d9d9));
  background-image: -moz-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: -webkit-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: linear-gradient(#d9d9d9, #d9d9d9);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 60px;
}

#themain:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 48em) {
  .front .dc-centercontent {
    margin-top: -60px;
  }
}
@media all and (min-width: 48em) {
  .dc-centercontent {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.dc-centercontent {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.dc-centercontent:after {
  content: '';
  display: table;
  clear: both;
}

.dc-content {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  padding-bottom: 4.5em;
  padding-top: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}
.dc-content:after {
  content: '';
  display: table;
  clear: both;
}

.dc-content .content {

}

.dc-content .content .field-name-body p:first-child {
  margin-bottom: 28px;
  font-family: Vestula,Arial,Sans-Serif;
  font-size: 120%;
}

@media all and (min-width: 48em) {
  .dc-content {
    padding-left: 3em;
    padding-right: 3em;
    margin: 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
    border-bottom: none;
  }
}
@media all and (min-width: 63.75em) {
  .dc-sidebar ~ .dc-content {
    width: calc(75% - 40px);
  }
  .dc-sidebar-right ~ .dc-content {
    float: left;
  }
  .dc-sidebar-left ~ .dc-content {
    float: right;
  }
}

@media (min-width: 63.75em) {
  .dc-sidebar-right ~ .dc-content, .dc-content.has-sidebar-right {
    float: left;
  }
}
@media (min-width: 63.75em) {
  .dc-sidebar ~ .dc-content, .dc-content.has-sidebar {
    width: calc(75% - 40px);
  }
}

.dc-sidebar {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  padding: 20px;
}
.dc-sidebar:after {
  content: '';
  display: table;
  clear: both;
}
@media all and (min-width: 63.75em) {
  .dc-sidebar {
    padding-top: 0;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
    width: 25%;
  }
  .dc-sidebar.dc-sidebar-left {
    float: left;
  }
  .dc-sidebar.dc-sidebar-right {
    float: right;
  }
}
.dc-sidebar h3 {
  padding: 4px 12px;
  margin-bottom: 12px;
  font-size: 1rem;
  background-color: #7F88AB;
  color: white;
}
.dc-sidebar ul {
  list-style-type: none;
  padding: 0;
}
.dc-sidebar li {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: solid 1px #ddd;
}

@media (min-width: 63.75em) {
  .dc-sidebar.dc-sidebar-right {
    float: right;
  }
}

.dc-sidebox {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
}
.dc-sidebox:after {
  content: '';
  display: table;
  clear: both;
}
@media all and (min-width: 63.75em) {
  .dc-sidebox {
    width: calc(30% - 40px);
  }
  .dc-sidebox.dc-sidebox-right {
    float: right;
    margin-left: 40px;
  }
  .dc-sidebox.dc-sidebox-left {
    float: left;
    margin-right: 40px;
  }
  .dc-sidebox ~ * {
    display: block;
    width: 70%;
  }
}
.dc-sidebox .dc-sidebox-header {
  color: white;
  margin-top: 0;
}
.dc-sidebox .dc-sidebox-header::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #001158;
  bottom: -8px;
  content: "";
  height: 0;
  left: 1.125em;
  position: absolute;
  width: 0;
}
.dc-sidebox ul {
  list-style-type: none;
  padding: 0;
}
.dc-sidebox li {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: solid 1px #ddd;
}

#theheader {
  padding: 0;
  background-color: #fff;
}
#theheader #thetitle {
  padding: 20px 20px 0 20px;
}
#theheader .dc-logo {
  float: left;
  margin: 0 75px 0 0;
  padding: 12px 0;
  max-width: 90%;
}
#theheader .dc-logo img {
  display: block;
  height: 64px;
}
#theheader h1 {
  white-space: nowrap;
  display: table;
  margin: 0;
  line-height: 30px;
  height: 75px;
  font-family: "Crimson Text", Georgia, Serif;
  font-size: 18px;
  font-weight: normal;
  color: #999;
}
#theheader h1 em {
  display: block;
  font-size: 200%;
  font-style: normal;
  color: #000;
}

.region-navigation #cbp-hrmenu {
  font-family: Vestula, Arial, Sans-Serif;
  text-align: right;
}
.dc-menu-search #cbp-hrmenu li {
  display: inline-block;
  vertical-align: middle;
}
.region-navigation #cbp-hrmenu li a {
  padding: 0 1em;
  color: #EEE;
}
.region-navigation #cbp-hrmenu li:first-child a {
  border-left: none;
}

#thefooter {
  padding: 28px 15px 60px 15px;
  background: #D9D9D9;
  text-align: center;
}

.ubl-friend a {
  color: #012168;
}
.ubl-friend img {
  vertical-align: middle;
}

.ubl-footer-nav {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: #001158;
  text-decoration: none;
}

a:visited {
  color: #012168;
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
}

h6 {
  font-size: .875rem;
  font-weight: normal;
}

body {
  font-family: georgia,serif;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: vestula,arial,sans-serif;
}

button, .button {
  font-family: vestula,arial,sans-serif;
}

input, textarea, select {
  font-family: vestula,arial,sans-serif;
}

/* import modules 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* general cbp horizontal menu styles */
/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
  margin: 0 auto;
}

.cbp-hrmenu > ul > li {
  display: inline-block;
}

.cbp-hrmenu > ul > li > a {
  display: inline-block;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
  background: #fff;
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
}

.cbp-hropen .cbp-hrsub {
  display: block;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
  width: 33%;
  float: left;
  padding: 0 1em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
  content: " ";
  display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
  clear: both;
}

@media screen and (max-width: 768px) {
  .cbp-hrmenu > ul,
  .cbp-hrmenu .cbp-hrsub-inner {
    width: 100%;
    padding: 0;
  }

  .cbp-hrmenu .cbp-hrsub-inner > div {
    width: 100%;
    float: none;
  }

  .cbp-hrmenu > ul > li {
    display: block;
  }

  .cbp-hrmenu > ul > li > a {
    display: block;
  }

  .cbp-hrmenu .cbp-hrsub {
    position: relative;
  }
}
#themenu {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  background-color: #001158;
  font-family: Vestula, Arial, Sans-Serif;
  overflow: hidden;
  /* sub-menu canvas */
}
#themenu nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#themenu nav ul li a {
  font-family: Vestula, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 16px;
  padding: 0 15px;
  line-height: 3.5rem;
  color: #eee;
}
#themenu nav ul li a:hover {
  color: #fff;
}
#themenu nav ul li a .fa {
  width: 1.25rem;
  font-size: 1.25rem;
}
#themenu nav ul li.cbp-hropen a, #themenu nav ul li.cbp-hropen > a:hover {
  color: #fff;
  background: #8088AC;
}
#themenu nav ul li.cbp-hropen .cbp-hrsub {
  padding-bottom: 3em;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px 0;
}
#themenu nav ul li .cbp-hrsub-inner > div a {
  line-height: 2em;
}
#themenu .cbp-hrsub {
  background: #8088AC;
}
#themenu .cbp-hrsub h4 {
  color: #C9C9C9;
  padding: 2em 0 0.6em;
  margin: 0;
  font-size: 160%;
  font-weight: 300;
}
#themenu .cbp-hrsub form label {
  display: block;
  color: white;
}
#themenu .cbp-hrsub form > div {
  margin: .5em 0;
}
#themenu .cbp-hrsub form [type='submit'] {
  margin-top: 1em;
}
#themenu .cbp-placeholder::after {
  content: "ïƒ—";
  font-family: FontAwesome;
  font-size: 1em;
  font-style: normal;
  margin-left: 0.3em;
  vertical-align: middle;
  color: #7F88AB;
}
@media screen and (max-width: 768px) {
  #themenu nav {
    border: none;
  }
  #themenu nav ul li {
    border-bottom: 1px solid #8088AC;
    min-height: 3.5em;
  }
  #themenu nav .cbp-hrsub h4 {
    padding-top: 0.6em;
  }
  #themenu nav .cbp-hrsub-inner {
    padding: 0 15px;
  }
  #themenu nav .cbp-hrsub-inner > div {
    width: 100%;
    float: none;
    padding: 0 15px;
  }
  #themenu .dc-centercontent {
    padding: 0;
  }
  #themenu .dc-menu-search {
    float: none;
  }
  #themenu .dc-menu-search form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dc-menu-search {
  padding: 0;
  float: right;
  display: block !important;
  margin: 11px 16px !important;
}

.dc-menu-search form {
  display: flex;
  height: 100%;
  margin: 0;
}
.dc-menu-search form div {
  display: inline-block;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}
.dc-menu-search form input, .dc-menu-search form button, .dc-menu-search form select {
  height: 100%;
  border: none;
  min-height: 0;
  padding: 0 10px;
  line-height: 2rem;
}
.dc-menu-search form input {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 0;
}
.dc-menu-search form input:-moz-placeholder {
  color: #999;
}
.dc-menu-search form input::-moz-placeholder {
  color: #999;
}
.dc-menu-search form input:-ms-input-placeholder {
  color: #999;
}
.dc-menu-search form input::-webkit-input-placeholder {
  color: #999;
}
.dc-menu-search form button {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
  background-color: #999 !important;
  color: white !important;
}
.dc-menu-search form button .fa {
  line-height: 1rem;
  font-size: 1rem;
}
.dc-menu-search form select {
  width: 150px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("../img/selectbox_arrow.png") right center no-repeat #f8f8f8;
  padding-right: 30px;
}

.dc-menu-search input.form-submit {
  display: none;
}

.dc-menu-search .form-type-textfield {
  vertical-align: bottom;
}

.block-islandora-solr * {
  font-family: Vestula,Arial,Sans-Serif;
  font-size: 13px;
  line-height: 20px;
}

.block-islandora-solr li {
  margin-left: 0 !important;
}

.block-islandora-solr label {
  border-bottom: dotted 1px #C9C9C9;
}

.block-islandora-solr li,
.block-islandora-solr label > a {
}

.block-islandora-solr .islandora-solr-facet-wrapper label > a {
  max-width: 180px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  font-weight: initial;
}

span.plusminus {
  border: 0 !important;
  display: inline-block;
  margin-right: 5px;
}

span.plusminus a {
  position: relative;
  text-indent: -9999px;
  float: right;
  width: 14px;

}

span.plusminus a.minus::after {
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 1em;
  font-style: normal;
  margin-left: .3em;
  vertical-align: middle;
  position: absolute;
  display: block;
  opacity: .9;
  text-indent: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 14px;
}

span.plusminus a.minus::after::hover,
span.plusminus a.plus::after:hover {
  opacity: 1;
}

span.plusminus a.plus::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 1em;
  font-style: normal;
  opacity: .9;
  margin-left: .3em;
  vertical-align: middle;
  position: absolute;
  display: block;
  text-indent: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
}

.block-islandora-solr a.soft-limit {
  border: 0 !important;
}

#dc-facet-keywords .count {
  display: inline-block;
  vertical-align: top;
  color: #888;
}



