/* Menu elements */

.dc-centercontent .menu > li > .cbp-hrsub {
  display: none;
  height: 0;
}

.dc-sidebar .menu .cbp-hrsub-inner li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.dc-sidebar ul {
  margin: 0;
}

.dc-sidebar ul li {
  margin: 0;
}

.dc-sidebar ul.menu {

}

.dc-sidebar .cbp-hrsub-inner {
  margin: 0;
}

.dc-sidebar .cbp-hrsub li a:before {
  opacity: 0.6;
  position: absolute;
  left: 16px;
  content: '\2022';
  font-size: 1.5em;
}

.not-front .dc-sidebar .cbp-hrsub li a:before {
  left: 2px;
}

.dc-sidebar .expanded:before {
  opacity: 0.6;
  position: absolute;
  right: 0;
  float: right;
  content: '▾';
  font-size: 1em;
}

.dc-sidebar .expanded.toggled:before {
  opacity: 0.6;
  position: absolute;
  right: 0;
  float: right;
  content: '▴';
  font-size: 1em;
}

.dc-sidebar li.last {
  border-bottom: none;
}

#page .dc-menu {
  width: 100%;
  margin-top: 2em;
  border-bottom: 1px solid #fff;
  background-color: #7f88ab;
  font-family: "Vestula";
}

@media all and (min-width: 48em) {
  #edit-islandora-simple-search-query {
    width: 180px;
  }
  .dc-menu-search #edit-collection-select {
    width: 350px
  }
}



