/* Menu elements */

.dc-sidebar .menu .cbp-hrsub-inner li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.dc-sidebar ul {
  list-style-type: none;
  margin: 0;
}

.dc-sidebar ul li {
  margin: 0;
}

.dc-sidebar ul.menu {
  padding: 0.5em 0 0.8em 0;
}

.dc-sidebar ul.menu > li:last-of-type {
  border: none;
}

.dc-sidebar .cbp-hrsub-inner {
  margin: 0;
}

.not-front .dc-sidebar .cbp-hrsub li a:before {
  left: 2px;
}

.dc-sidebar .expanded:before {
  font-family: 'FontAwesome';
  opacity: 0.6;
  float: right;
  content: '\f0d7';
  font-size: 1em;
}

.dc-sidebar .expanded.toggled:before {
  font-family: 'FontAwesome';
  opacity: 0.6;
  float: right;
  content: '\f0da';
  font-size: 1.1em;
}

.dc-sidebar li.last {
  border-bottom: none;
}

#page .dc-menu {
  width: 100%;
  margin-top: 2em;
  border-bottom: 1px solid #fff;
  background-color: #7f88ab;
  font-family: "Vestula";
}

@media all and (min-width: 48em) {
  #edit-islandora-simple-search-query {
    width: 180px;
  }
  .dc-menu-search #edit-collection-select {
    width: 350px
  }
}



