.islandora-solr-content .item-list:first-of-type .dc-searchresults-pager {
  border-bottom: solid 1px #C9C9C9;
  padding-bottom: 8px;
  margin: 24px 0;
  font-size: 14px;
}

.islandora-solr-content .item-list {
  font-size: 14px;
  color: #012168;
}
.pager ul {
  display: flex;
  margin: 0; }
.islandora-solr-content .pager li {
  margin: 0;
  padding: 0;
}
.pager.align-center ul {
  justify-content: center; }
.pager span,
.pager a {
  color: #012168;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 13px;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid transparent; }
.pager a {
  text-decoration: none;
  color: #313439;
}
.islandora-solr-content .pager li.pager-current {
  border: 1px solid #e0e1e1;
  width: 40px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 4px;
  line-height: 1;
  white-space: nowrap;
}
.pager a:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: #e0e1e1; }
.pager span,
.pager li.active a {
  color: rgba(0, 0, 0, 0.5);
  border-color: #e0e1e1;
  cursor: text; }
.pager.upper {
  font-size: 12px; }

.pager-last a,
.pager-first a,
.pager-previous a,
.pager-next a {
  position: relative;
  text-indent: -9999px;
}

.pager-last a::before,
.pager-first a::before,
.pager-previous a::before,
.pager-next a::before {
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  font-weight: 900;
  vertical-align: middle;
  position: absolute;
  display: block;
  text-indent: 0;
  top: 8px;
  left: 5px;
  right: 0;
  bottom: 0;
  width: 16px;
}

.pager-last a::before {
  content: "\f101";
}

.pager-next a::before {
  content: "\f105";
}

.pager-previous a::before {
  content: "\f104";
}

.pager-first a::before {
  content: "\f100";
}