#islandora-solr-top {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 4px 0 12px;
}

tr.islandora-solr-search-result {
  background-color: inherit;
  border-bottom: 0;
}

.islandora-solr-search-result dd {
  margin-top: 0;
}

.islandora-solr-search-result .solr-label {
  display: none;
}

.solr-fields dt, .solr-fields dd {
  border-top: none;
}

.mods-titleinfo-title-custom-ms {
  margin-top: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: vestula,arial,sans-serif;
  font-weight: 700;
  color: #001158;
  text-rendering: optimizeLegibility;
  margin-bottom: 16px;
  display: inline-block;
  width: auto;
}

dd.mods-origininfo-encoding-w3cdtf-keydate-yes-dateissued-s {
  margin-bottom: 8px;
  font-family: Vestula,Arial,Sans-Serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  display: inline-block;
  width: auto;
  padding-left: 0;
  white-space: nowrap;
}

dd.mods-origininfo-encoding-w3cdtf-keydate-yes-dateissued-s::before {
  content: "(";
}

dd.mods-origininfo-encoding-w3cdtf-keydate-yes-dateissued-s::after {
  content: ")";
}

dd.mods-genre-authority-local-s {
  font-family: Vestula,Arial,Sans-Serif;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  font-weight: bold;
}

dd.mods-name-personal-authorrole-namepart-custom-ms {
  width: auto;
}

.islandora-solr-search-results > .row {
  margin: 24px 0;
  padding: 12px 0;
  border-bottom: dotted 1px #C9C9C9;
}

.islandora-solr-search-results figure {
  margin: 0 0 16px 0;
}

.mods-name-personal-authorrole-namepart-custom-ms {
  color: #B27F2B;
  margin-bottom: 8px;
  font-family: Vestula,Arial,Sans-Serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  width: auto;
}

.islandora-solr-search-results .ubl-resultrow:last-of-type {
  margin-bottom: 10px;
}

.islandora-solr-facet-wrapper a.soft-limit::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  font-style: normal;
  margin-left: .3em;
  vertical-align: middle;
}

.dc-searchresults-tools {
  background-color: #eee;
  list-style-type: none;
  text-align: right;
  font-size: 1.3em;
  line-height: 1.25em;
  margin-left: 0;
  padding-left: 0;
}

.dc-searchresults-tools li {
  margin: 0 !important;
  display: inline-block;
}

.dc-searchresults-tools a {
  display: block;
  padding-top: 0.40625em;
  padding-bottom: 0.40625em;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
}

.dc-searchresults-tools a:hover {
  color: #333;
}

.dc-searchresults-tools li span {
  display: none;
}

.dc-searchresults-tools .dc-searchresults-btn-grid::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.dc-searchresults-tools .dc-searchresults-btn-list::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.solr-grid-caption a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #012168;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: vestula,arial,sans-serif;
  font-weight: 700;
  color: #001158;
  text-rendering: optimizeLegibility;
}

.islandora-solr-search-result figure img,
.solr-grid-thumb a img {
  width: 123px;
  height: 174px;
  border: 1px solid #EEE;
  border-radius: 5px;
}


