/* Common views settings */

#block-views-1a404823daef2367d076c5b9545b5a2a h3.dc-section-header,
#block-views-ddfcce4b55d4cf61c68458ff893eb2ed h3.dc-section-header,
#block-views-74c71cefccaed90d9d3a38bda62be30c h3.dc-section-header,
#block-views-bc11114f20007d1ee8e83a69f092e14d h3.dc-section-header,
#block-uvl-blocks-uvl-blocks-featured-search h3.dc-section-header,
.front .dc-webexpositions h3.dc-section-header {
  border-top: solid 4px #5c6791;
  padding-top: 8px;
}

#block-views-1a404823daef2367d076c5b9545b5a2a,
#block-views-ddfcce4b55d4cf61c68458ff893eb2ed,
#block-views-bc11114f20007d1ee8e83a69f092e14d,
#block-views-74c71cefccaed90d9d3a38bda62be30c,
#block-views-ed7567d16380c74d018041dcc1a29321,
#block-views-e873d6908e4ed0c25d42fbb1ac7dd61f {
  margin-left: 2%;
  width: calc(50% - 1%);
  float: left;
}

.dc-webexpositions #block-views-ddfcce4b55d4cf61c68458ff893eb2ed,
.front #block-views-1a404823daef2367d076c5b9545b5a2a,
.dc-webexpositions #block-views-e873d6908e4ed0c25d42fbb1ac7dd61f {
  margin-left: 0;
}

.views-field-mods-name-AuthorRole-namePart-custom-ms,
.views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
.views-field-mods-name-AuthorRole-namePart-custom-ms A,
.views-field-mods-name-personal-AuthorRole-namePart-custom-ms A {
  color: #B27F2B;
}

.views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s A {
  color: #999;
}

.view-featured-items .views-row,
.view-subcollection-recently-added-publications-view .views-row,
.view-main-collection-recently-added-publications-view .views-row,
.view-clone-of-recently-added-publications-view .views-row,
.view-recently-added-publications-view .views-row {
  padding: 4px 0;
  margin: 4px 0;
  border-bottom: dotted 1px #D9D9D9;
  font-family: Vestula,Arial,Sans-Serif;
  font-size: 14px;
  color: #999;
}
#block-views-1a404823daef2367d076c5b9545b5a2a .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
#block-views-1a404823daef2367d076c5b9545b5a2a .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s,
#block-views-ddfcce4b55d4cf61c68458ff893eb2ed .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
#block-views-ddfcce4b55d4cf61c68458ff893eb2ed .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s,
#block-views-74c71cefccaed90d9d3a38bda62be30c .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
#block-views-bc11114f20007d1ee8e83a69f092e14d .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
#block-views-bc11114f20007d1ee8e83a69f092e14d .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s,
#block-views-74c71cefccaed90d9d3a38bda62be30c .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s,
.view-clone-of-recently-added-publications-view .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
.view-clone-of-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s,
.view-recently-added-publications-view .views-field-mods-name-personal-AuthorRole-namePart-custom-ms,
.view-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s {
  display: inline-block;
}

.view-featured-items .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s span,
.view-subcollection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s span,
.view-main-collection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s span,
.view-clone-of-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s span,
.view-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s span {
  margin-right: -4px;
  margin-left: -4px;
}

.view-featured-items .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::before,
.view-subcollection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::before,
.view-main-collection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::before,
.view-clone-of-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::before,
.view-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::before {
  content:'\0028';
}

.view-featured-items .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::after,
.view-subcollection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::after,
.view-main-collection-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::after,
.view-clone-of-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::after,
.view-recently-added-publications-view .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s::after {
  content: '\0029';
}

/* View Featured items (subcollection page) */

#block-views-featured-items-block {
  clear: both;
  margin: 48px 0 24px;
}

#block-views-featured-items-block h3 {
  margin-top: 0;
}

.view-featured-items .views-row {
  min-height: 230px;
  margin: 24px 0;
  padding: 12px 0;
}

.view-featured-items .views-field-mods-name-AuthorRole-namePart-custom-ms,
.dc-content .views-row .views-field-mods-titleInfo-title-custom-ms {
  font-weight: bold;
}

.view-collection-logo .views-field-field-logo-1 {
  font-size: 87.5%;
  opacity: .6;
}

.view-featured-items .views-field-PID {
  float: left;
  margin-bottom: 16px;
  width: 25%;
}

.view-featured-items .views-field-PID img {
  -moz-box-shadow: rgba(0,0,0,0.2) 0 0 2px 0;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 2px 0;
  box-shadow: rgba(0,0,0,0.2) 0 0 2px 0;
  max-width: 140px;
}

.view-featured-items .views-field-mods-genre-authority-local-ms {
  margin-bottom: 16px;
  font-weight: bold;
}

.view-featured-items .views-field-mods-name-AuthorRole-namePart-custom-ms,
.view-featured-items .views-field-mods-originInfo-encoding-w3cdtf-keyDate-yes-dateIssued-s {
  display: inline-block;
  font-weight: bold;
}

.view-featured-items .views-field-mods-titleInfo-title-custom-ms,
.view-featured-items .views-field-mods-genre-authority-local-ms,
.view-featured-items .views-field-fedora-datastream-info-MODS-ID-ms,
.view-featured-items .views-field-mods-abstract-ms {
  margin-left: 160px;
}

#block-views-featured-items-block {
  border-top: solid 4px #5c6791;
  padding-top: 8px;
}

.view-featured-items .views-field-mods-titleInfo-title-custom-ms .field-content {
  font-weight: bold;
  margin-top: 0;
}

.view-featured-items .views-field-mods-titleInfo-title-custom-ms a {
  color: #001158;
}

.view-featured-items .views-field-mods-abstract-ms {
  color: #666;
}

.view-featured-items .views-row:last-of-type {
  border-bottom: none;
}

/* Children of compound view */

.view-children-of-compound-view .views-row {
  overflow: hidden;
  zoom: 1;
  display: flow-root;
  border-bottom: dotted 1px #D9D9D9;
  padding: 4px 0;
  padding-left: 20px;
}

.view-children-of-compound-view .views-row:last-of-type {
  border-bottom: none;
}

.view-children-of-compound-view .views-field-mods-titleInfo-title-custom-ms {
  display: inline;
}

.view-children-of-compound-view .views-row::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  font-style: normal;
  margin-right: .3em;
  vertical-align: top;
  color: #f03c69;
  float: left;
  margin-left: -20px;
}

.view-children-of-compound-view .field-content a.download {
  float: right;
  background: #e0e1e1;
  line-height: 18px;
  padding: 0 10px;
  color: #313439;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
  display: block;
  color: transparent;
  overflow: hidden;
  font-size: 0;
}

.view-children-of-compound-view .field-content a.download::before {
  content: "\f019";
  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  font-style: normal;
  margin-right: 0;
  vertical-align: top;
  color: #333;
  font-size: 12px;
  font-weight: 900;
}

.view-children-of-compound-view .views-field-PID .field-content a:hover {
  opacity: 0.8;
}






